/* style.css */
 body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    -webkit-text-size-adjust: 100%; /* 防止大小调整 */
    background: #b6b9ff;
    height: 100%;
}

 body *{
    min-height: 0vh;
    font-family: 'PingFang SC', 'Microsoft YaHei', sans-serif;
    min-height: 11.01vh;
	margin-top: 40px;
}

.auto-link {
    text-align: center; 
    margin-top: 20px; 
    font-size: 24px;
	margin-top: -60px;
    width: 100%;
}

.auto-link a {
    color: #ff00dd; 
    text-decoration: none;
}

.a-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 47px;
    color: #000;
    text-decoration: none;
    margin: 9px;
}

.a-link > img {
    width: 60px;
    height: 60px;
    object-fit: contain;
}

.a-name {
    line-height: 16px;
	margin-top: -14px;
    font-size: 11.2px;
}

   @media screen and (max-width: 400px) {
    .auto-link {
        font-size: 24px;
    }
}

 body.no-scroll { 
    overflow: hidden; /* 禁止页面划滚动 */
}

/* PC端样式 */
 @media (min-width: 768px) {
    .container {
        padding: 30px;
    }                          
    .app-grid {
        gap: 30px;
        padding: 20px;
    }       
    .a-link {
        width: 68px;
    }        
    .a-link > img {
        width: 80px;
        height: 80px;
    }       
    .a-name {
        font-size: 16px;
        margin-top: -4px;
    }        
        header {
        padding: 30px 0;
        margin-bottom: 30px;
    }
